*.csv
*.xlsx
*.Rhistory
*.RData
*.Rproj.user
Farrell-Liang-Misra2018_deepNetsATE.pdf
*cml.github.io
.Rproj.user
slides/*
causal-factor-investing/*
hw3/q2m-data/*
hw3/q2d-plots/*
hw3/q2m-plots/*
hw3/q3f-plots/*
hw3/q3g-plots/*